extends ../components/_layout/layout

block head
  +title('Главная')

block body
  include ../components/index/cap
  include ../components/index/benefits
  include ../components/index/expert-data
  include ../components/index/client-stories
  include ../components/index/difference
