include ../../_variables
include _connect-style
include _title

doctype html
html(lang='ru')
  head
    include _head
    block head
  body
    main.wrapper
      include header
      block body
    include footer
    include scripts
    each style in prefetchStyle()
      link(rel="prefetch", href=`${pathStatics}/css/${style}.css`, as="style")
